<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team SkyNet Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  <div>
      <h1 style="text-align:center">Welcome to SkyNet's application</h1>
      <p style="color:red;text-align:center">Check out the latest events!!!</p>
    {{{body}}}
</div>
<div>


<form action="/event" method="post">
      <fieldset>
        <legend>Add an event</legend>
        <p>
          <label>Title</label>
          <input name="title" 
                 type="text"
                 value = "Title Here" />
        </p>
        <p>
          <label>Description</label>
          <input name="description" 
                 type="text" 
                 value = "description here" />
        </p>
        <p>
          <label>Location</label>
          <input name="location" 
                 type="text" 
                 value = "location here" />
        </p>
        <input type="submit" name="submit" value="submit" />

      </fieldset>


</form>
	<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJW-T2Wt7Gt4kRKl2I1CJFUsI&key=AIzaSyDrZh2isWXnHI-aDrO9C0-1-uSsFIXykxg" allowfullscreen></iframe>
<!--
  <h2>Add an event</h2>
    <form action="/event" method="post">
       Title: <input name="title" type="text" /> <br />
       Description: <input name="description" type="text" /> <br />
       Location: <input name="location" type="text" /> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form> -->

  </div>

</body>
</html>